@{
    ViewBag.Title = "Desenvolvedor";
    Layout = "_Layout";
}

<div class="text-center">
    <h2 class="my-3">Seja bem-vindo desenvolvedor</h2>
    <h1>@ViewBag.ApiKey</h1>
    <h3>Essa é sua chave de API</h3>
</div>
