@{
    ViewBag.Title = "Dashboard administrativa";
}

<h1>Painel do administrador</h1>

<a asp-controller="Produtos" asp-action="Index">Gerenciar produtos</a><br/>
<a asp-controller="Faturas" asp-action="Index">Gerenciar faturas</a><br/>
<a asp-controller="Pedidos" asp-action="Index">Gerenciar pedidos</a><br/>