@using Microsoft.EntityFrameworkCore.Metadata.Internal
@ViewBag.Title = "=(";
<div class="text-center">
    <h1>Nós lamentamos =(</h1>
    <p>Um erro ocorreu, <a asp-controller="Home" asp-action="Index">retornar ao início</a></p>
    <h1>Id do erro: @ViewBag.Error</h1>
</div>